{% extends 'admin/base_admin.html.twig'%}
{% block content %}
	<h2>Création Annonce</h2>
	{{ form(form) }}
{% endblock %}
{% block javascript %}
	<script type="text/javascript">
		window.onload = ()	=> {
			// chercher le region
			let region = document.querySelector('#post_create_region');
			region.addEventListener("change", function() {
				let form = this.closest("form");
				let data = this.name+"="+this.value;
				fetch(form.action,{
					method : form.getAttribute("method"),
					body : data,
					headers : {
						"Content-Type":"application/x-www-form-urlencoded;charset:utf-8"
					}
				})
				.then(response => response.text())
				.then(html => {
					let content = document.createElement("html");
					content.innerHTML = html;
					let newSelecte = content.querySelector("#post_create_department");
					document.querySelector('#post_create_department').replaceWith(newSelecte); 
				})

			})
		}
	</script>
{% endblock %}